@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  background: #171721;

  color: #c2c2d5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.o-c-header.is-open .o-c-header-background {
  left: 0;
}
.o-c-header-button-wrapper {
  margin-left: auto;
}
.o-c-header-icon {
  display: none;
}

.o-c-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.o-c-navigation-list.is-open {
  right: 0;
}
.o-c-header-icon-menu {
  display: block;
}

.o-c-header-icon-button.is-open .o-c-header-icon-menu {
  display: none;
}

.o-c-header-icon-button.is-open .o-c-header-icon-close {
  display: block;
}

.o-c-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 48px;
  background: #171721;
}

.o-c-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #171721;
}
.o-c-header.is-open .o-c-header-background {
  left: 0;
}
.o-c-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.o-c-header-icon-menu {
  display: block;
}

.o-c-header-icon-button.is-open .o-c-header-icon-menu {
  display: none;
}

.o-c-header-icon-button.is-open .o-c-header-icon-close {
  display: block;
}

.o-c-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px 24px;
  position: relative;
}

.o-c-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 56px 32px;

  gap: 24px;
  background: #171721;
}

.o-c-navigation-list.is-open {
  right: 0;
}

.o-c-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;

  color: #cbd2d7;
  border-bottom: 1px solid transparent;
  width: 311px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: block;
  text-align: center;
  font-family: Saira Condensed;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}

.o-c-navigation-link:hover,
.o-c-navigatioт-link:focus {
  border-bottom: 1px solid #4ec5ec;
}

.o-c-header.is-open {
  background-color: transparent;
}

.o-c-navigation-img {
  display: none;
}
.o-c-header-terms {
  background-color: transparent;
  padding-top: 12px;
}
.o-c-header-terms-img {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Saira Condensed;
  font-weight: 300;
  font-style: Light;
  font-size: 10px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  color: #c2c2d5;
  text-decoration: none;
}
@media screen and (min-width: 1202px) {
  .o-c-navigation-img {
    display: block;
    margin-right: 426px;
  }

  .o-c-policy-terms-header-icon-menu {
    display: none;
  }
  .o-c-header-button-wrapper {
    display: none;
  }
  .o-c-header {
    width: 100%;
    height: 70px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .o-c-header-icon-button {
    display: none;
  }
  .o-c-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    padding: 0 120px;
    margin: auto;
  }

  .o-c-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 0px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .o-c-navigation-link {
    width: fit-content;
    font-family: Saira Condensed;
    font-weight: 300;
    font-style: Light;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;

    text-wrap: nowrap;
    padding: 8px 16px;
  }

  .o-c-navigation-item-desk {
    display: none;
  }
  .o-c-header-terms {
    background-color: transparent;
    padding-top: 56px;
  }
}

.o-c-home {
  width: 375px;
  height: 811px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/1.\ Home\ mob.png");
  margin: auto;
}
.o-c-home-container {
  width: 375px;

  padding: 96px 16px 0px;
  margin: auto;
}

.o-c-home-title {
  font-family: Saira Condensed;
  font-weight: 300;
  font-style: Light;
  font-size: 60px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #fefeff;
  text-shadow: 0px 0px 24px #4ec5ec;
}

.o-c-home-text {
  font-family: Saira Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #fefeff;
  padding: 48px 0 315px;
}
.o-c-home-img {
  transition: all 0.3s ease-in-out;
  width: 260px;
  height: 64px;
  border-radius: 8px;
  margin: auto;
  border: 1px solid #4ec5ec;
  box-shadow: 2px 2px 1px 0px #40434966;
  background: #fefeff;
}

.o-c-home-img:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 18px 3px #4ec5eccc;
}

@media screen and (min-width: 1202px) {
  .o-c-home {
    width: auto;
    height: 830px;
    background-image: url("/img/1.\ HOME.png");
  }
  .o-c-home-container {
    width: 1440px;

    padding: 96px 0px 0px;
  }

  .o-c-home-title {
    font-family: Saira Condensed;
    font-weight: 300;
    font-style: Light;
    font-size: 80px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }

  .o-c-home-text {
    font-family: Saira Condensed;
    font-weight: 400;
    font-style: Regular;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    padding: 32px 0;
  }
}
.o-c-about {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/2\ About\ the\ Game\ mob.png");
  height: 758px;
  width: 375px;
  margin: auto;
}
.o-c-progression {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/7\ Progression\ mob.png");
  height: 642px;
  width: 375px;
  margin: auto;
}
.o-c-about-container {
  width: 375px;
  padding: 64px 16px;
  margin: auto;
}
.o-c-progression-container {
  width: 375px;
  padding: 64px 16px;
  margin: auto;
}
.o-c-about-title {
  font-family: Saira Condensed;
  font-weight: 300;
  font-style: Light;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  color: #fefeff;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 4px;
}
.o-c-about-title-img {
  width: 16px;
  height: 18px;
}
.o-c-about-title-two {
  font-family: Saira Condensed;
  font-weight: 300;
  font-style: Light;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #fefeff;
  padding-top: 64px;
  text-shadow: 0px 0px 8px #4ec5eccc;
}
.o-c-about-text {
  font-family: Saira Condensed;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #c2c2d5;
  padding-top: 40px;
  margin: auto;
}

@media screen and (min-width: 1202px) {
  .o-c-about {
    background-image: url("/img/2\ About\ the\ Game.png");
    height: 1066px;
    width: auto;
    margin: auto;
  }

  .o-c-about-container {
    width: 1440px;
    padding: 80px 120px;
  }
  .o-c-progression {
    background-image: url("/img/7\ Progression.png");
    height: 978px;
    width: auto;
    margin: auto;
  }

  .o-c-progression-container {
    width: 1440px;
    padding: 80px 120px;
  }
  .o-c-about-title-two {
    padding-top: 48px;
  }
  .o-c-about-text {
    width: 736px;
    margin: auto;
    padding-top: 48px;
  }
  .o-c-progression-text {
    width: 756px;
  }
  .o-c-about-title {
    margin: 0;
  }
}

.o-c-why-container {
  width: 375px;
  margin: auto;
  padding: 64px 16px;
}
.o-c-about-text-two {
  font-family: Saira Condensed;
  font-weight: 275;
  font-style: ExtraLight;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.o-c-why-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.o-c-why-item {
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, #1e1f2d 0%, #171721 100%);
  width: 343px;
  height: 152px;
  gap: 16px;
  border-radius: 8px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  font-family: Saira Condensed;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;

  text-align: center;
  align-items: center;
}
.o-c-why-img {
  width: 120px;
}

@media screen and (min-width: 1202px) {
  .o-c-why-container {
    width: 1440px;
    padding: 80px 120px;
  }

  .o-c-why-list {
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
  }
  .o-c-why-item {
    width: 210px;
    height: 218px;
    flex-direction: column;

    gap: 16px;
    background: linear-gradient(180deg, #1e1f2d 0%, #171721 100%);

    border-radius: 8px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
  }
}

.o-c-uniqueness {
  margin: auto;
  width: 375px;
  height: 516px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/4\ Game\ Feel\ mob.png");
}
.o-c-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 64px 16px 0;
}
.o-c-uniqueness-text {
  width: 273px;
}

@media screen and (min-width: 1202px) {
  .o-c-uniqueness {
    width: auto;
    height: 948px;
    background-image: url("/img/4\ Game\ Feel.png");
  }
  .o-c-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 80px 120px;
  }
  .o-c-uniqueness-text {
    width: 400px;
  }
}

.o-c-how-container {
  margin: auto;
  width: 375px;
  padding: 64px 16px;
}
.o-c-how-list {
  padding: 48px 21px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.o-c-how-item {
  display: flex;
  width: 343px;
  height: 152px;
  gap: 16px;

  border-radius: 8px;
  padding: 16px;
  align-items: center;
  background: linear-gradient(180deg, #1e1f2d 0%, #171721 100%);
}

.o-c-how-text {
  font-family: Saira Condensed;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.o-c-how-img {
  width: 120px;
}
@media screen and (min-width: 1202px) {
  .o-c-how-container {
    margin: auto;
    width: 1440px;
    padding: 80px 120px;
  }
  .o-c-how-list {
    padding: 48px 11px 0px;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .o-c-how-item {
    width: 210px;
    flex-direction: column;
    height: 192px;
    gap: 16px;
    border-radius: 8px;
    padding: 16px;
  }
}

.o-c-reviews {
  margin: auto;
  background: linear-gradient(180deg, #171721 0%, #1e1f2d 50%, #171721 100%);
}
.o-c-reviews-container {
  margin: auto;
  padding: 64px 16px;
  width: 375px;
}
.o-c-reviews-list {
  padding-top: 48px;
  margin: auto;
}

.o-c-reviews-item {
  margin: 0 8px;
  background: #171721;
  width: 210px;
  height: 142px;
  border-radius: 8px;
  padding: 23px 15px;

  border: 1px solid #272f51;
}

.o-c-reviews-item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.o-c-reviews-img {
  height: 12px;
}
.o-c-reviews-text-bold {
  font-family: Saira Condensed;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #fefeff;
}

.o-c-reviews-text {
  font-family: Saira Condensed;
  font-weight: 300;
  font-style: Light;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #c2c2d5;
  padding-top: 16px;
}

@media screen and (min-width: 1202px) {
  .o-c-reviews {
    width: auto;
    background: linear-gradient(180deg, #171721 0%, #1e1f2d 50%, #171721 100%);
  }
  .o-c-reviews-container {
    margin: auto;
    padding: 80px 120px;
    width: 1440px;
  }
  .o-c-reviews-list {
    padding-top: 48px;
    margin: auto;
  }

  .o-c-reviews-item {
    margin: 0 16px;
  }
}
.o-c-faq {
  background: linear-gradient(180deg, #171721 0%, #1e1f2d 50%, #171721 100%);
}
.o-c-faq-container {
  padding: 64px 16px;
  width: 375px;
  margin: auto;
}
.o-c-faq-list {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.o-c-faq-item {
  padding: 8px 4px 0;
}

.o-c-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
  font-family: Saira Condensed;
  font-weight: 275;
  font-style: ExtraLight;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #c2c2d5;
  border-bottom: 1px solid #272f51;
}

.o-c-faq-answer {
  font-family: Saira Condensed;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #fefeff;
}
.o-c-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.o-c-toggle-button img {
  transition: transform 0.3s ease;
  width: 24px;
}
.o-c-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;
  opacity: 0;
}

.o-c-faq-answer.open {
  max-height: 200px;
  opacity: 1;
  padding-top: 16px;
}

.o-c-toggle-button img.rotated {
  transform: rotate(180deg);
}
@media screen and (min-width: 1202px) {
  .o-c-faq-container {
    padding: 80px 120px;
    width: 1440px;
    margin: auto;
  }
  .o-c-faq-list {
    padding: 48px 71px;
  }

  .o-c-faq-item {
    padding: 8px 4px 0;
  }

  .o-c-faq-question {
    font-family: Saira Condensed;
    font-weight: 275;
    font-style: ExtraLight;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .o-c-faq-answer {
    font-family: Saira Condensed;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.o-c-gallery-container {
  width: 375px;
  margin: auto;
  padding: 64px 16px;
}
.o-c-gallery-list {
  width: auto;
  padding-top: 48px;
  margin: auto;
}

.o-c-gallery-item {
  width: 300px;
  height: 255px;

  border-radius: 8px;

  overflow: hidden;
  position: relative;
  margin: 0 6px;
}

.o-c-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.o-c-gallery-button-container {
  display: none;
}
@media screen and (min-width: 1202px) {
  .o-c-gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  .o-c-gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }
  .o-c-gallery-button-icon {
    width: 56px;
    height: 56px;
  }
  .o-c-gallery-button:hover {
    scale: 120%;
  }

  .o-c-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 80px 120px;
    position: relative;
  }
  .o-c-gallery-list {
    width: auto;
    padding: 48px 40px;
    margin: auto;
  }
  .o-c-gallery-item {
    width: 800px;
    height: 450px;
    border-radius: 8px;

    margin: 0 8px;
  }
  .o-c-gallery-list-left {
    position: absolute;
    top: 439px;
    left: 120px;
  }
  .o-c-gallery-list-right {
    position: absolute;
    top: 439px;

    right: 120px;
  }
}

.o-c-features {
  margin: auto;
  width: 375px;
  height: 582px;
  background-image: url("/img/10\ contact\ mob.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: calc();
}
.o-c-features-container {
  width: 375px;
  margin: auto;
  padding: 64px 16px;
}

.o-c-features-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-top: 40px;

  text-decoration: none;
}

.o-c-features-img {
  width: 32px;
}

.o-c-features-text {
  font-family: Saira Condensed;
  font-weight: 300;
  font-style: Light;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  color: #c2c2d5;
  text-decoration: none;
}

@media screen and (min-width: 1202px) {
  .o-c-features {
    width: auto;
    height: 966px;
    background-image: url("/img/10\ Contact.png");
  }
  .o-c-features-container {
    width: 1440px;
    margin: auto;
    padding: 80px 120px;
  }
}

.o-c-policy-terms-container {
  padding: 104px 16px 48px;
  width: 375px;
  margin: auto;
  font-family: Saira Condensed;
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #c2c2d5;
}

.o-c-policy-terms-container h1 {
  font-family: Saira Condensed;
  font-weight: 300;
  font-style: Light;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fefeff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 48px;
}
.o-c-policy-terms-container h3 {
  font-family: Alegreya Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin: 16px 0;
}
.o-c-policy-terms-container h2 {
  font-family: Saira Condensed;
  font-weight: 300;
  font-style: Light;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;

  margin: 16px 0;
}
.o-c-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom:;
}

.o-c-policy-terms-container a {
  color: #c2c2d5;
  font-family: Saira Condensed;
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}
@media screen and (min-width: 1202px) {
  .o-c-policy-terms-container {
    padding: 128px 223px 64px;
    width: 1440px;
  }
  .o-c-policy-terms-container h1 {
    font-family: Saira Condensed;
    font-weight: 300;
    font-style: Light;
    font-size: 64px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
}

.o-c-footer-container {
  width: 375px;
  padding: 64px 0 58px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  color: #c2c2d5;
}

.o-c-footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  font-family: Saira Condensed;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}

.o-c-footer-text {
  text-decoration: none;
  color: inherit;
}

.o-c-footer-copyright {
  font-family: Saira Condensed;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.o-c-footer-copyright-two {
  display: none;
}
.o-c-footer-img {
  width: 260px;
}
@media screen and (min-width: 1202px) {
  .o-c-footer-container {
    width: 1440px;
    padding: 80px 120px;
    display: flex;
    flex-direction: row;

    gap: 220px;
  }

  .o-c-footer-wrapper {
    gap: 64px;
  }

  .o-c-footer-copyright-two {
    display: block;
  }
  .o-c-footer-copyright-one {
    display: none;
  }
}
